@page "/DisplayFoodSeller/{id:int}"
@using System.Security.Claims
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@inject IFoodSellerService FoodSellerService
@inject IRatingAndCommentService RatingAndCommentService
@attribute [Authorize]
<AuthorizeView>
    @if (dto != null)
    {
        <div class="card">
            <div class="form-group field">
                <label>Name: @dto.Name </label>
            </div>
            <div class="form-group field">
                <label>Email: @dto.Email </label>
            </div>
            <div class="form-group field">
                <label>Address: @dto.Address </label>
            </div>
            <div class="form-group field">
                <label>Phone number: @dto.PhoneNumber </label>
            </div>
            <div class="form-group field">
                <label>Average rating: @averageRating </label>
            </div>
            <AuthorizeView Policy="MustBeCustomer">
                <div class="rz-p-sm-12 rz-text-align-center">
                    <RadzenDropDown @bind-Value=@value Data=@rates Style="width: 100%; max-width: 400px;"/>
                </div>
                <button @onclick="CreateRateAsync">Rate</button>
            </AuthorizeView>
        </div>
        <label>Comments: </label>
        <AuthorizeView Policy="MustBeCustomer">
            <div class="form-group field">
                <textarea placeholder="Write a comment" @bind="comment"/>
            </div>
            <button @onclick="CreateCommentAsync">Send</button>

        </AuthorizeView>
        @if (comments == null)
        {
        }
        else if (!comments.Any())
        {
            <p>No comments to display.</p>
        }
        else
        {
            @foreach (var item in comments)
            {
                <div class="card" style=" height: 200px; width: 100%">
                    <h3>@item.CustomerFirstName @item.CustomerLastName</h3>
                    <h6>@item.Date.ToString()</h6>
                    <h6>@item.Content</h6>
                </div>
            }

        }
    }
</AuthorizeView>
@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    private bool _isLoggedIn;
    private IEnumerable<Claim> userClaims;
    private int accountId;
    [Parameter] public int id { get; set; }
    private ReadFoodSellerDTO dto;
    private List<ReadCommentDTO> comments;
    private string comment;
    private double averageRating;
    private int rate;
    private int value = 5;
    private string errorMessage = "";
    IEnumerable<int> rates;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal user = authState.User;
        _isLoggedIn = user.Identity != null;
        if (!_isLoggedIn) return;
        userClaims = user.Claims.AsEnumerable();
        accountId = Int32.Parse(userClaims.FirstOrDefault(c => c.Type.Equals("ID"))!.Value);
        dto = await FoodSellerService.GetAsync(id);
        comments = await RatingAndCommentService.ReadCommentsByFoodSellerIdAsync(id);
        averageRating = await RatingAndCommentService.ReadAverageRatingByFoodSellerIdAsync(id);
        rates = new[] { 1, 2, 3, 4, 5 };
    }

    private async Task CreateCommentAsync()
    {
        try
        {
            await RatingAndCommentService.CreateCommentAsync(new CommentBasicDTO(id, accountId, comment));
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorMessage = e.Message;
        }
    }

    private async Task CreateRateAsync()
    {
        try
        {
            await RatingAndCommentService.CreateRatingAsync(new RatingBasicDTO(id, accountId, value));
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorMessage = e.Message;
        }
    }
}